

.ix {
    min-height: calc(100vh - 72px);
}
.e4 {
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.c4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.bc {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bd {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}
.ba 
{
    color: #000000;
}
body {
    background: #FFFFFF;
    
    font-family: UberMoveText-Regular, sans-serif;
}

.ip {
  padding: 12px 16px;
}

.io {
  width: auto;
}
.in {
  min-height: 56px;
}
.gk {
  font-size: 18px;
}
.g4 {
  -webkit-box-pack: center;
  justify-content: center;
}

.fo {
  background: rgb(243, 108, 42) !important;
}
.f4 {
  color: #FFFFFF;
}
.d1 {
  flex-shrink: 0;
}
.cp {
  line-height: 24px;
}
.cc {
  font-family: UberMoveText-Medium, sans-serif;
}
.bi {
  cursor: pointer;
}
.be {
  -webkit-box-align: center;
  align-items: center;
}
.bc {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
a:hover {
  color:transparent !important;
  text-decoration: none !important;
}
a.f4:hover{

color: white !important;

}
a.ca:hover{

  color: rgb(0, 0, 0) !important;
  
  }
a {
  text-decoration: none;
  color: inherit;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.bd {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.ba {
  color: #000000;
}

.iy {
  margin-top: 24px;
}
.e1 {
  margin-bottom: 24px;
}

.c4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.iz {
  margin: 12px 0px;
}

.cc {
  font-family: UberMoveText-Medium, sans-serif;
}
.cb {
  line-height: 16px;
}
.ca {
  font-size: 14px;
}
a {
  text-decoration: none;
  color: inherit;
}

.g4 {
  -webkit-box-pack: center;
  justify-content: center;
}
.be {
  -webkit-box-align: center;
  align-items: center;
}
.bc {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.spacer._16 {
  width: 16px;
}
.spacer {
  height: 1px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}
.j1 {
  width: 16px;
}
.j0 {
  height: 26px;
}
.bm {
  flex: none;
}
.f3 {
  line-height: 20px;
}

.cv {
  font-size: 16px;
}
.cc {
  font-family: UberMoveText-Medium, sans-serif;
}

.j2 {
  margin-top: 16px;
}

.ih {
  margin-bottom: 8px;
}
.be {
  -webkit-box-align: center;
  align-items: center;
}
.j3 {
  border-radius: 36px;
}
.hk {
  padding: 12px;
}
.cd {
  background: #EEEEEE;
}
.cc {
  font-family: UberMoveText-Medium, sans-serif;
}
.cb {
  line-height: 16px;
}
.ca {
  font-size: 14px;
  
}
.be {
  -webkit-box-align: center;
  align-items: center;
}
.bc {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.ba {
  color: #000000;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.bd {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.j3 {
  border-radius: 36px;
}

.hk {
  padding: 12px;
}
.cd {
  background: #EEEEEE;
}
.cc {
  font-family: UberMoveText-Medium, sans-serif;
}
.cb {
  line-height: 16px;
}
.ca {
  font-size: 14px;
}
.be {
  -webkit-box-align: center;
  align-items: center;
}
.bc {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.ba {
  color: #000000;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.bd {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.cm {
  height: 16px;
}

.cl {
  width: 16px;
}
.bn {
  fill: currentColor;
}
.bm {
  flex: none;
}


.iy {
  object-fit: cover;
}
.bfm {
  -webkit-box-align: center;
  align-items: center;
}


.agm {
  
  display: flex;
}

.f3m {
  border-radius: 50%;
}

.f2m {
  height: 48px;
}

.f1m {
  width: 48px;
}
.btm {
  font-family: UberMoveText-Medium, sans-serif;
}


.bsm {
  line-height: 16px;
}

.brm {
  font-size: 14px;
}
a.brm {
  text-decoration: none !important;
  color: #f36c2a !important;
}

a.brm :hover {
  text-decoration: none !important;
  color: #f36c2a !important;
}
.ccm {
  font-size: 14px;
}

.cch {
  text-decoration: none !important;
  color:black !important;
}
.c6m {
  line-height: 24px;
}

.btm {
  font-family: UberMoveText-Medium, sans-serif;
}

.d0m {
  color: #f36c2a;
}

.btm {
  font-family: UberMoveText-Medium, sans-serif;
}

.bsm {
  line-height: 16px;
}

.brm {
  font-size: 14px;
}

._spacerheight{

  padding-top: 10px;
}
.ph{

  background-color: #e0e0e0 !important;
}
.al{

  margin-left: 2px;

}