.mappanel {
  /* border: 1px solid #f26c2a; */

  
  margin-left: 5%;
  margin-right: 5%;
  display: flex;

  flex-direction: column;
}


.findResBTN {
  position: relative;
  bottom: 70px;
  left: 120px;
  width: 280px;
  background-color: #f26c2a;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.findResBTN:hover {
  background-color: white;
  color: #f26c2a;
  border: 1px solid #f26c2a;
}
