

header.funnel {
    background-image: none!important;
    height: 0!important;
}
header.funnel {
    background-size: 60px 60px!important;
    position: relative;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
*, :after, :before, input[type=search] {
    box-sizing: border-box;
}
user agent stylesheet
header {
    display: block;
}
body {
    font-family: UberMoveText-Regular!important;
}
body, html {
    width: 100%;
    height: 100%;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
}
html {
    color: #000;
}
.breadcrumb, .dashboard-nav, .dashboard-subnav, .icon-input input, .primary-font, .select select, .table thead th, .tabs__item a, .tabs__link, .text-input, .top-bar__title, h3, h4, h5, h6, html, table thead th {
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 400;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: .875em;
    line-height: 1.71429;
    min-height: 100%;
    overflow-y: visible;
}
*, :after, :before, input[type=search] {
    box-sizing: border-box;
}
*, :after, :before, input[type=search] {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
::selection {
    background: #000000;
    color: #FFF;
}

header.funnel .bit {
    position: absolute;
    height: 94px;
    width: 94px;
    left: 50%;
    top: 20px;
    margin-left: -47px;
}

.z-10, header.funnel .bit {
    z-index: 10;
}
.bit {
    background-color: #fff;
}
.bit--logo {
    height: auto!important;
    width: 100vw!important;
    top: 94px!important;
    left: 0!important;
    margin-left: 0!important;
}
@media only screen and (min-width: 1281px){
    
}
.bit--lockup, .bit--logo {
    width: 150px;
    height: 150px;
    padding: 20px;
}
@media only screen and (min-width: 997px){}
.bit {
    margin-left: 10%;
}
@media only screen and (min-width: 1281px){}
.bit--lockup, .bit--logo {
    width: 160px;
    height: 160px;
    padding: 20px;
}
.bit--lockup, .bit--logo {
    width: 12vw;
}
@media only screen and (min-width: 1281px){}
.bit {
    width: 256px;
    font-size: 24px;
    line-height: 32px;
}
.bit {
    width: 18vw;
    color: #939393;
    line-height: 2vw;
    font-size: 1.6vw;
    font-weight: 500;
}
.text--center {
    text-align: center!important;
}
.avatar, .bit, .fixed-ratio {
    display: block;
    position: relative;
}
*, :after, :before, input[type=search] {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: UberMoveText-Regular!important;
}
body, html {
    width: 100%;
    height: 100%;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
}
html {
    color: #000;
}
.breadcrumb, .dashboard-nav, .dashboard-subnav, .icon-input input, .primary-font, .select select, .table thead th, .tabs__item a, .tabs__link, .text-input, .top-bar__title, h3, h4, h5, h6, html, table thead th {
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 400;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: .875em;
    line-height: 1.71429;
    min-height: 100%;
    overflow-y: visible;
}
*, :after, :before, input[type=search] {
    box-sizing: border-box;
}
.bit::after {
    padding-top: 0;
}
.bit:after, .fixed-ratio--1-1:after {
    padding-top: 100%;
}
.avatar:after, .bit:after, .fixed-ratio:after {
    display: block;
    width: 100%;
    padding-top: 100%;
    content: "";
}
*, :after, :before, input[type=search] {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
::selection {
    background: #000000;
    color: #FFF;
}